@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    .header_top {
        background-color: blue;
        height: 30px;
    }
}

main {
    section.jumbotron {
        background-image: url(../img/jumbotron.jpg);
        background-repeat: no-repeat;
        background-position: top;
        height: 400px;
        background-size: cover;
    }

    section.comics_card {
        background-color: black;
        color: white;
        padding: 6rem 0;

        .card {
            background-color: transparent;
            border: none;
        }

        img {
            width: 100%;
        }
    }
}