@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}




header {
    .header_top {
        background-color: blue;
        padding: 0.5rem 0;
        color: white;
        font-weight: bold;
        font-size: 0.5rem;
    }

    .header_bottom {
        padding: 1rem 0;

        .logo {
            width: 4rem;
        }

        nav {
            a {
                text-decoration: none;
                font-size: 0.9rem;
                color: black;
                font-weight: bold;

                &.active {
                    color: blue;
                    border-bottom: 2px solid blue;
                    padding-bottom: 1rem;
                }
            }
        }

        input {
            border: none;
            border-bottom: 1px solid blue;
            width: 80px;
        }
    }
}

main {
    section.jumbotron {
        background-image: url(../img/jumbotron.jpg);
        background-repeat: no-repeat;
        background-position: top;
        height: 400px;
        background-size: cover;
    }

    section.comics_card {
        background-color: black;
        color: white;
        padding-top: 4rem;
        padding-bottom: 2rem;

        .card {
            background-color: transparent;
            border: none;
        }

        img {
            width: 100%;
        }
    }
}